/* 1. 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 테두리 포함 크기 계산 */
}

body {
    font-family: 'Pretendard', sans-serif;
    background-color: #F4F5F7; /* 배경색 */
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    height: 100vh;           /* 화면 높이를 꽉 채워야 세로 중앙이 먹힘 */
}

.top-header {
    position: absolute; /* 화면 배치와 상관없이 위치를 강제로 지정 */
    top: 0;             /* 맨 위 */
    left: 0;            /* 맨 왼쪽 */
    width: 100%;        /* 가로 꽉 채우기 */
    height: 60px;       /* 헤더 높이 */
    
    background-color: #F4F5F7;
    border-bottom: 1px solid #000; /* ★ 바닥에 줄 긋기 */

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.logo {
    font-family: "Sandoll GogoRound", sans-serif;
    font-size: 32px;
    color: #000;
}

/* 2. 로그인 카드 디자인 */
.login-container {
    background-color: transparent;
    width: 355px;
    padding: 40px 0;
}

/* 3. 헤더 영역 */
.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
}

/* 4. 입력창 디자인 */
.input-group {
    color: #000;
    margin-bottom: 20px;
}

.input-group label {
    display: block; /* 한 줄 차지 */
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.input-group input {
    width: 100%;
    height: 33px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
}

/* 입력창 클릭했을 때 색상 변경 */
.input-group input:focus {
    border-color: black;
}

.input-group input::placeholder {
    color: black;
}

/* 5. 버튼 디자인 */
.login-btn {
    width: 100%;
    height: 33px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ACA0EB; /* 버튼 색상 (바꿔보세요!) */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.login-btn.active {
    background-color: #7F6AEE; /* 진한 보라색 */
    cursor: pointer;           /* 손가락 모양 커서 */
}

.login-btn:hover {
    background-color: #6a55d6; /* 마우스 올렸을 때 색상 */
}

/* 6. 하단 링크 */
.links {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.links a {
    text-decoration: none;
    color: #000;
}

.links a:hover {
    text-decoration: underline;
}

.helper-text {
    margin-top: 4px;
    font-size: 12px;
    color: #FF0000;
    line-height: 1.4;
}